:root {
    --whiteColor: #fff;
    --bgColor: #1e1e2a;
    --bgColorCountdown: #1a1a23;
    --countdownColor1: #2c2c44;
    --countdownColor2: #34364f;
    --fontColorDays: #8885a0;
    --fontColorCountdown: #f85e86;
    --socialMidiaIconColor: #8385A9;
    --principalFont: 'Red Hat Text', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
    font-family: var(--principalFont);
    background-color: var(--bgColor);
    background-image: url(../images/bg-stars.svg);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 197px;
    width: 100vw;
    background-image: url(../images/pattern-hills.svg);
}

a {
    margin: 5em 2em 3em;
}

footer a svg:hover path {
    cursor: pointer;
    fill: var(--fontColorCountdown);
}

h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 5em;
    color: var(--whiteColor);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1.5em 0 0 0;
    color: var(--fontColorDays);
}

h3 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: var(--fontColorCountdown);
    
}

.conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13em;
    width: 42em;
    margin: 1em;
}

.time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13em;
    width: 10em;
    margin: 0.5em 1em;
}

.time-box-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11em;
    width: 10em;
    border-radius: 5px;
    background-color: var(--countdownColor2);
    box-shadow: 0px 10px 0px 0px var(--bgColorCountdown);

    transition: transform 0.1s;
    transform-style: preserve-3d;
}

.time-box-countdown div {
    position: absolute;
    height: 5.3em;
    width: 10em;
    border-radius: 5px;
    margin-top: -5.2em;
    background-color: var(--countdownColor1);
    opacity: 0.7;
}

.time-box-countdown div::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 4.7em;
    background-color: var(--bgColorCountdown);
}

.time-box-countdown div::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 0.6em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 9.41em;
    margin-top: 4.7em;
    background-color: var(--bgColorCountdown);
}

.flip {
    transform: rotateX(360deg);
}

.launch-date {
    /*visibility: hidden;*/
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.404);
}

.select-date {
    height: 15em;
    width: 25em;
    border-radius: 5px;
    background-color: var(--countdownColor1);
}

.social-midia {
    display: flex;

}

.attribution {
    align-items: end;
    
}

.attribution a {
    text-decoration: none;
    margin: 0;
    color: var(--socialMidiaIconColor);
}

.attribution a:hover {
    text-decoration: underline;
    color: var(--fontColorCountdown);
    cursor: pointer;
}